*{
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, sans-serif;
	font-size: 20px;
	color: white;
	line-height: 1.2; 
	margin: 0px;
}


img {
	height: 90px;
}
.container{
	background-image:url('image1.jpeg');
	background-size: 1700px;
	background-position: center; /*brings to center*/
	height: 100vh;
	width: 100vw;
	display:flex; 
	flex-direction: column; 
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 20px; so when screen is small it has space on side
	padding-top: 20%;
}

h1 {
	font-size: 50px;
	line-height: 1.2;
	color: white;
	background-color: none;
}

#motto p {
	font-size: 20px;
}

.container .button {
	font-size: 17px;
	text-decoration: none; 
	color: white;
	border: white 1px solid;
	padding: 15px 20px;
	border-radius: 10px;
	margin-top: 20px;
}

.container .button:hover{
	background: black;
	color: #fff;
}

.sr-only {
	color: black;
}

.nav {
	position: absolute;
	z-index: 100; 
}

ul{
	list-style: none;
	margin:0 ;
	padding: 0;
	overflow: hidden;

}

li {
	display: inline;

}

li a {
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

ul li a, ul.nav li a:visited {
    color: #A4E869; //yellow-lime
}

ul li a:hover, ul.nav li a:active {
    color: #38c5fc; //logo-blue
}

ul li.active a {
    color: #b5b59c; //light-brown
}

.active1 {
	color: #b5b59c; //light brown
}

.active2 {
	color: #b5b59c; //light brown
}

.active3 {
	color: #b5b59c; //light brown
}
